In [6]:
import numpy as np
import pandas as pd

In [4]:
a = np.array([1,2,3])

In [5]:
a

array([1, 2, 3])

In [7]:
b = pd.DataFrame(a)

In [8]:
b

   0
0  1
1  2
2  3

In [ ]:
b.add_suffix()